#root {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-family: system-ui;
  transition: visibility 2s, opacity 0.5s linear;
}

#root2 {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-family: system-ui;
  transition: visibility 2s, opacity 0.5s linear;
}

canvas {
  display: block;
  margin: 1em auto;
  box-shadow: 0 0 2em rgba(0,0,0,0.2);
  border-radius: 1em;
  box-shadow: 0px 0 5em rgb(0, 99, 234), 0 0 2em #FFF;
}

button {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  padding: .3em .5em;
  padding-left: 0;
  font-size: 1em;
  line-height: 1.5em;
  margin: 1em .3em;
  cursor: pointer;
  border-radius: 1em;
  background-color: #fff;
  transition: .4s ease;
}
.comp {
	background-color: #5fefef;
}

button:before {
  content: '';
  float: left;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1.5em;
  margin-right: .3em;
  margin-left: .3em;
}

button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0;
}

.blue-ish:before  { background-color: blue;}
.red-ish:before { background-color: red;}
.green-ish:before { background-color: green;}
.blue-ish:before { background-color: blue;}
.orange-ish:before { background-color: orange;}
.yellow-ish:before { background-color: yellow;}
.pink-ish:before { background-color: pink;}
.purple-ish:before { background-color: purple;}
.brown-ish:before { background-color: #8B4513;}
.grey-ish:before { background-color: grey;}
.save:before { 
	background-image: url("assets/download-button.png");
	border-radius: 1px;
}

body {
  background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
  user-select: none;
  transition: background-color 1s ease-out;
}

.disabled {
  pointer-events: none;
  opacity: 0;
  transition: 1s ease;
}